## MADmin settings ##
# MAD instance 1
MAD_url_1=http://localhost:5000
MADmin_username_1=someuser
MADmin_password_1=somepass
MAD_path_1=/home/me/MAD/

# MAD instance 2, must be connected to same DB as instance 1
MAD_url_2=
MADmin_username_2=
MADmin_password_2=
MAD_path_2=

# MAD instance 3, must be connected to same DB as instance 1
MAD_url_3=
MADmin_username_3=
MADmin_password_3=
MAD_path_3=

# MAD instance 4, must be connected to same DB as instance 1
MAD_url_4=
MADmin_username_4=
MADmin_password_4=
MAD_path_4=

# MAD instance 5, must be connected to same DB as instance 1
MAD_url_5=
MADmin_username_5=
MADmin_password_5=
MAD_path_5=

## Download settings:
Download_path=/home/me/downloads				# Path where files (vmapper.apk/vmapper_conf and if needed pogo32.apk/pogo64.apk) will be stored
Download_link="https://mydomain.com/downloads"			# Link to path above

## Vmapper settings
vmtoken="YourSecretToken"
bootdelay="0"
daemon="true"
gzip="true"
selinux="true"
betamode="false"
